//Colors
//--------------------------------------------------------------------------------------------------
$color_1: #5C32FC;
$color_2: #7AA5FA;
$color_3: #5973dd;
$color_4: #70ECFF;

//Font
//--------------------------------------------------------------------------------------------------
$font_titule: 2.5rem;
$font_titule_2: 2.0rem;
$font_titule_3: 1.5rem;
$font_normal: 1.2rem;

//Mixins
@mixin titule_section {
    padding-top: 80px;
    margin-bottom: 30px;
    font-size: $font_titule_2;
}

@mixin efect_wave ($color) {
    overflow: hidden;
    height: 200px;
    width: 100%;
    position: absolute;
    z-index: -1;
    grid-column: 1/-1;
    grid-row-start: 1;

    path {
        stroke: none;
        fill: $color;
    }
}

body {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: $font_normal;//Para Respetar la configuración de letra del usuario
    user-select: none;
}

html {
    scroll-behavior: smooth;
}

body .container {
    min-width: 330px;
    max-width: 1400px;
    margin: 0px auto;
}

//Barra Principal
//-------------------------------------------------------------------------------------------------- 
#nav_main {
    padding: 5px 40px;//Arriba/Abajo Derecha/Izquierda
    position: sticky;
    top: 0px;
    z-index: 1;
    background: white;
}

#nav_list {
    font-size: $font_normal;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, auto));
    gap: 10px;
}

#group-brand a {
    color: $color_1;
    font-weight: bold;
    display: flex;
    font-size: $font_titule_3;
    gap: 5px;
}

#logo img {
    width: 25px;
    height: auto;
}

#group-about {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: $color_1;
    text-decoration: none;
}

//Pagina y Secciones
//--------------------------------------------------------------------------------------------------
#main section:nth-child(1) {
    width: 100%;
    min-height: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

#img_central {
    max-width: 300px;
}

#titule_s1 {
    color: $color_1;
    font-size: $font_titule;
    font-weight: 900;
    margin-top: 50px;
    margin-bottom: 5px;
}

#sec_info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#sec_info h3 {
    font-size: clamp(1.3rem, 2.5vw, 1.5rem);
    color: #292929;
    margin-left: 20px;
    margin-right: 20px;
}

//Seccion 2
//--------------------------------------------------------------------------------------------------
#main section:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    color: white;
    margin: 100px 0px;
    background: $color_3;
    position: relative;
}

#efect_wave_1 {
    @include efect_wave($color_3);
    top: -150px;
}

#efect_wave_2 {
    @include efect_wave($color_3);
    transform: rotate(180deg);
    bottom: -150px;
}

#ct_img_about_me {
    width: 100%;
    display: flex;
    justify-content: center;
    grid-column-start: 1;
    grid-row-start: 2;
}

#ct_img_about_me>#img_about_me {
    transform: rotate(25deg);
    max-width: 400px;
}

#ct_about_me {
    margin-top: -80px;
    display: flex;
    flex-direction: column;
    line-height: 25px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    grid-column-start: 2;
    grid-row-start: 2;
}

#ct_about_me p {
    text-align: justify;
}

#titule_s2 {
    @include titule_section;
}

//Seccion 3
//--------------------------------------------------------------------------------------------------
#main section:nth-child(3) {
    display: grid;
    grid-template-columns: 40% auto;
    margin-top: 200px;
    margin-bottom: 150px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    gap: 40px;
}

#ct_skills {
    display: flex;
    margin-top: -80px;
    flex-direction: column;
    line-height: 28px;
    letter-spacing: 1px;
    align-items: center;
}

#img_skills {
    width: 100%;
    padding: 0px;
}

#titule_s3 {
    @include titule_section;
}

#ct_skills p {
    text-align: justify;
}

//Contact
//--------------------------------------------------------------------------------------------------
footer {
    margin-left: 30px;
    margin-right: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    max-height: 180px;
    margin-top: 100px;
    padding: 0px;
    position: relative;
    background: $color_1;
}

#ct_redes {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    color: white;
}

#ct_redes h2 {
    text-align: center;
    font-size: $font_titule;
    grid-row-start: 1;
    margin-bottom: 10px;
}

#link_info {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#link_info {
    font-size: $font_titule;
}

#link_info a {
    color: white;
}

#link_info a:hover {
    color: $color_4;
}

//Adaptar a dispositivos
//--------------------------------------------------------------------------------------------------
@media screen and (max-width: 950px) {
    #ct_about_me {
        grid-column: 1/-1;
    }

    #ct_img_about_me {
        grid-column: 1/-1;
        overflow: hidden;
        opacity: 5%;
    }

    #ct_seccion-3 {
        grid-template-columns: auto auto;
    }

    #ct_skills {
        grid-column: 1/-1;
    }

    #img_skills {
        justify-self: center;
        grid-column: 1/-1;
    }
}

@media screen and (max-width: 480px) {//Teléfonos
    #nav_main {
        padding: 5px 10px;
    }

    #nav_list > #group-about{
        justify-content: center;
    }

    footer{
        margin-left: 10px;
        margin-right: 10px;
    }
}
